<div>
  <h2>{{ title }}</h2>
  <hr />

  <form *ngFor="let movie of movies">
    <p>¿Cuántos boletos para {{movie.name}}?</p>

    <div>
      <button
        type="button"
        (click)="removeMovieTicket(movie.name)"
        [disabled]="(movie.quantity <= 0)"
      >
        -
      </button>

      <span> {{ movie.quantity }} </span>

      <button
        type="button"
        (click)="addMovieTicket(movie.name)"
        [disabled]="(movie.quantity >= movie.available)"
      >
        +
      </button>
    </div>
  </form>
</div>
